/* == Base Styles == */
body {
    margin: 0 auto;
    background-color: #fbfcfe;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #333;
}

#title {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #017ac8;
    text-align: center;
}