/* Basic Styles */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fbfcfe;
}

#title {
  font-size: 52px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #017ac8;
}

#description {
  font-size: 20px;
  line-height: 30px;
}

label {
  font-size: 20px;
}
